<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="btn btn-light ml-auto" data-action="click->modal#close">Cerrar</button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
      NO TIENES ACCESO A ESTA ACCIÓN
    </div>
  </div>
</div>
