<!-- Modal -->
<div class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;"
        data-controller="modal"
        data-app-target="modal"
        data-keyboard="false"
        data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" data-modal-target="content"></div>
</div>
