<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="<%= root_path %>">Presupuestos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-lg-auto">
      <li class="nav-item">
        <%= link_to "Ver perfil", edit_user_path(current_user), class: "nav-link", data: { action:"click->app#launchModal" } %>
      </li>
    </ul>
    <div class="my-2 my-lg-0 ml-0 ml-lg-3">
      <%= link_to destroy_user_session_path, class: "text-danger", data: { method: :delete } do %>
        <i class="fas fa-power-off text-danger"></i>
        Cerrar Sesión
      <% end %>
    </div>
  </div>
</nav>
