@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3a334e;
  background-image: linear-gradient(45deg, #7950f2 5%, #4dabf7 95%);
}

.control {
  border: 0;
  border-radius: 8px;
  outline: none;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: #edeaf7;
  color: #5a4f79;
  font-family: inherit;
  font-size: 16px;
  transition: 0.4s;
}

.login-card {
  width: 400px;
  padding: 50px 30px 64px;
  border-radius: 1.25rem;
  background: #ffffff;
  text-align: center;
}

.login-card>h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 6px;
}

.login-card>h3 {
  color: #837f90;
  margin: 0 0 40px;
  font-weight: 500;
  font-size: 1rem;
}

.login-form {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
}

.login-form input.control::placeholder {
  color: #aaa7bc;
}

.btn-submit {
  background: transparent;
  border: 0;
  cursor: pointer;
  background: #703eff;
  color: #f9f9f9;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
}

@media screen and (max-width: 480px) {
  .login-card {
    width: 325px;
  }
}